#map-container {
  position: relative;
  width:100vh;
  height:100vh;
}

#obstacle {
  position: absolute;
  bottom:0;
  left:300px;
  background:red;
  width:50px;
  height:50px; 
}

#player {
  position:absolute;
  width:32px;
  height:32px;
  background-image:url(soldier-sprite.png);
  border:1px solid red;
  bottom:0;
}

@keyframes shuffleSprite {
  100% { background-position-x: -96px; }
}

@keyframes jump {
  100% { transform: translateY(-100px) }
}

.moving {
  animation: shuffleSprite 0.3s steps(3) infinite;
}

.goright {
  background-position-y:64px;
}

.goleft {
  background-position-y:96px;
}

.resting {
  background-position-x:64px;
  background-position-y:128px;
}

.jump {
  transform-origin: 0 0;
  animation: jump .4s ease-out alternate 2;
}
