* {
  margin:0;
  padding:0;
  image-rendering:pixelated;
}

body {
  width:100vw;
  height:100vh;
  overflow:hidden;
}

#map-container {
  position: absolute;
  width:100%;
  height:calc(100% - 45px);
  overflow: hidden;
  background-image:url(Pixel-Adventure-Pack/background/Brown.png);
  background-repeat: repeat;
  background-size:150px;
}

@keyframes animateClouds {
  100% { transform:translateX(-50%) }
}

#background {
  position: absolute;
  background-image:url(fantasy-2048-x-1536_005.png);
  background-position-y:-30%;
  width:200%;
  height:100%;
  background-size: cover;
  animation: animateClouds 60s ease alternate infinite;
  opacity:0.7;
  z-index: 99;
}

#ground {
  position: absolute;
  width:100%;
  height: 45px;
  bottom: 0;
}

.ground-tile {
  position:absolute;
  width:45px;
  height:45px;
  background:url(Pixel-Adventure-Pack/Terrain/Terrain.png) -98px -176px;
}

/**
 * OBSTACLES
 */
.obstacle {
  position: absolute;
}

.hardblock-32 {
  background-image:url(Pixel-Adventure-Pack/Terrain/Terrain.png);
  background-position-y:calc(-16px*2);
  background-position-x:calc(160px*2);
  background-size: calc(352px*2);
  height:32px;
  width:32px;
}

.hardblock-64 {
  background-image:url(Pixel-Adventure-Pack/Terrain/Terrain.png);
  background-position-y:calc(-16px*2);
  background-position-x:calc(144px*2);
  background-size: calc(352px*2);
  height:64px;
  width:64px;
}

/* Horizontal hardblock 32px by 96px */
.hardblock-h {
  background-image:url(Pixel-Adventure-Pack/Terrain/Terrain.png);
  background-position-y:calc(0px*2);
  background-position-x:calc(160px*2);
  background-size: calc(352px*2);
  height:32px;
  width:96px;
}

/* Horizontal hardblock 96px by 32px */
.hardblock-v {
  background-image:url(Pixel-Adventure-Pack/Terrain/Terrain.png);
  background-position-y:calc(0px*2);
  background-position-x:calc(112px*2);
  background-size: calc(352px*2);
  height:96px;
  width:32px;
}


.platform {
  background-image:url(Pixel-Adventure-Pack/Terrain/Terrain.png);
  background-position-y:calc(-16px*2);
  background-position-x:calc(80px*2);
  background-size: calc(352px*2);
  height:10px;
  width:96px;
}

/**
 * ======= ITEMS =======
 */

@keyframes appleMove {
  100% { background-position-x: -544px; }
}

.apple {
  background-image:url(assets/sprites/apple.png);
  background-position-y:-5px;
  background-size: 544px;
  animation: appleMove 2s steps(17) infinite;
  width:24px;
  height:18px;
  margin-left:-8px;
}

/**
 * ======= CHARACTERS =======
 */
.character {
  background-size: cover;
}

.right { transform: rotateY(0deg); }
.left { transform: rotateY(180deg); }

.reverseprite.right { transform: rotateY(180deg); }
.reverseprite.left { transform: rotateY(0deg); }

/**
 *   #1 FROGGY
 */
.froggy .hurtbox {
  position: absolute;
  height:50px;
  width:30px;
  top:12px;
  left:16px;
}

@keyframes froggyidling {
  100% { background-position-x: calc(-352px*2); }
}

@keyframes froggymoving {
  100% { background-position-x: calc(-384px*2); }
}

.froggy.idling {
  background-image:url(Pixel-Adventure-Pack/Characters/Ninja_Frog/Idle.png);
  animation: froggyidling 1s steps(11) infinite;
}

.froggy.moving {
  background-image:url(Pixel-Adventure-Pack/Characters/Ninja_Frog/Run.png);
  animation: froggymoving 0.5s steps(12) infinite;
}

.froggy.jumping {
  background-image:url(Pixel-Adventure-Pack/Characters/Ninja_Frog/Jump.png);
}


/**
 *   #2 MUSHROOM
 */

.mushroom .hurtbox {
  position: absolute;
  height:38px;
  width:32px;
  top:24px;
  left:16px;
}

@keyframes mushroomidling {
  100% { background-position-x: calc(-448px*2); }
}

@keyframes mushroommoving {
  100% { background-position-x: calc(-512px*2); }
}

.mushroom.jumping {
  background-image:url(Pixel-Adventure-Pack/Enemies/Mushroom/Run.png);
  background-position-x:0px;
}
.mushroom.idling {
  background-image:url(Pixel-Adventure-Pack/Enemies/Mushroom/Idle.png);
  animation: mushroomidling 1s steps(14) infinite;
}

.mushroom.moving {
  background-image:url(Pixel-Adventure-Pack/Enemies/Mushroom/Run.png);
  animation: mushroommoving 0.5s steps(16) infinite;
}


/*
@keyframes cssjump {
  100% { transform: translateY(-100px) }
}

.cssjump {
  transform-origin: 0 0;
  animation: cssjump .4s ease-out alternate 2;
}
*/
