* {
  margin:0;
  padding:0;
}

#map-container {
  position: relative;
  width:100vw;
  height:100vh;
  overflow: hidden;
}

.obstacle {
  position: absolute;
  background:black;
  width:50px;
  height:10px;
}

#obstacle1 {  bottom:50px; left:100px; }
#obstacle2 {  bottom:100px; left:300px; }

.hurtbox {
  /* border:1px solid blue; */
  position: absolute;
  width:14px;
  top:5px;
  left:8px;
  bottom:0;
}

@keyframes idling {
  100% { background-position-x: -352px; }
}

@keyframes moving {
  100% { background-position-x: -384px; }
}

.idling {
  background-image:url(Pixel-Adventure-Pack/Characters/Ninja_Frog/Idle.png);
  animation: idling 1s steps(11) infinite;
}

.moving {
  background-image:url(Pixel-Adventure-Pack/Characters/Ninja_Frog/Run.png);
  animation: moving 1s steps(12) infinite;
}

.jumping {
  background-image:url(Pixel-Adventure-Pack/Characters/Ninja_Frog/Jump.png);
}

.right {
  transform: rotateY(0deg);
}

.left {
  transform: rotateY(180deg);
}


/*
@keyframes cssjump {
  100% { transform: translateY(-100px) }
}

.cssjump {
  transform-origin: 0 0;
  animation: cssjump .4s ease-out alternate 2;
}
*/
